
       body{
       background-color:powderblue;
       }
       hr{
       background-color:powder blue;
       border-style:dotted none none;
       border-color:grey;
       border-width:3px;
       width:50px;
       }
       img{
       height:190px
       }
       h1{
       color:#ffcbcb;
       }
       h3{
       color:#d291bc;
       }